
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #000000;
    height: 100vh;
}

.container {
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    max-width: max-content;
    white-space: pre-wrap;
    overflow:scroll;
}

.user-message {
    background-color: #2979ff;
    color: white;
}
#chat-app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.assistant-message {
    background-color: #e0e0f0;
    color: black;
}

.function-message {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.message-wrapper.user {
    display: flex;
    justify-content: flex-end;
}

.message-wrapper.assistant {
    display: flex;
    justify-content: flex-start;
}

.message-wrapper.function {
    display: flex;
    justify-content: center;
}

#chat-form {
    position: fixed;
    bottom: 0;
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 125px;
    padding: 10px;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    text-align: left;
}

#chat-output {
    padding-bottom: 150px;
}

#user-input {
    min-width: 10%;
    max-width: 70%;
    width: 100%;
    padding: 10px;
    color: white;
    outline: none;
    vertical-align: middle;
    border-radius: 10px;
    background-color: rgb(7, 7, 7);
    border: 1px solid #2979ff;
    font-family: Arial, Helvetica, sans-serif;
}

#send-button {
    background-color: #2979ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 2%;
    cursor: pointer;
}

#command-list {
    text-align: right;
    color: white;
    display: inline flow-root;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15%;
    max-width: max-content;
    vertical-align: middle;
    margin-left: 2%;
    position: absolute;
}

#command-list p {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#command-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #000000;
    border: 1px solid #2979ff;
    border-radius: 10px;
    color: white;
    outline: none;
    padding: 10px;
    margin: 5px;
    width: 100%;
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
}

#command-select:checked {
    background-color: #2979ff;
    color: white;
}

#command-select-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#command-select-link:hover {
    text-decoration: underline;
}

#command-select-link:active {
    color: #2979ff;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #242424; /* changed from #171717 to match panel */
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none; /* removed border */
    width: 40%;
    height: 40%;
}

.modal-content input {
    background-color: #171717;
    color: white;
    border: 1px solid #2979ff;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Panel */
.panel {
    display: none; /* Hidden by default */
    background-color: #242424;
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    text-align: center;
    border: 1px solid #2979ff;
    width: 35%;
    height: 35%;
}

#keys-button {
    background-color: #2979ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 15px;
    max-width: max-content;
    cursor: pointer;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}